// color
$orange = #f57d01;
$white = #fff

$cod-gray = #1C1919;
$cod-gray-drak = #0A0909;

//opacity
$translucent = .7

//duration
$speed-fast = .2s

$contentWidth = 1320px
$pagePadding = 80px
$indent = 20px


@import "query.styl"
