@font-face {
  font-family: 'Pfencore';
  src: url('./fonts/pfencoresanspro-reg-webfont.woff'),
      url('./fonts/pfencoresanspro-reg-webfont.woff') format('woff'),
      url('./fonts/pfencoresanspro-reg-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pfencore';
  src: url('./fonts/pfencoresanspro-regitalic-webfont.woff'),
      url('./fonts/pfencoresanspro-regitalic-webfont.woff') format('woff'),
      url('./fonts/pfencoresanspro-regitalic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Pfencore';
  src: url('./fonts/pfencoresanspro-bold-webfont.woff'),
      url('./fonts/pfencoresanspro-bold-webfont.woff') format('woff'),
      url('./fonts/pfencoresanspro-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pfencore';
  src: url('./fonts/pfencoresanspro-bolditalic-webfont.woff'),
      url('./fonts/pfencoresanspro-bolditalic-webfont.woff') format('woff'),
      url('./fonts/pfencoresanspro-bolditalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

